{# templates/notes.html #}
{% extends "base.html" %}

{% block content %}<br>
    {# A search box #}
    <div class="ui input">
        <input type="text" placeholder="Search...">
    </div>
     <div class="ui raised very padded text container segment">
        {# the for loop iterates over each note #}
        {% for note in notes %}

            <br>
                {{ note.user }}<br>
                {{ note.created }}
            <br>
            <div class="right floated left aligned eight wide column">
                {{ note.note }}<br>
                {{ note.modified }}
            </div>

        {% endfor %}
      </div>
{% endblock content %}


